footer {
	position: static;
	bottom: 0;
	padding: 10px;
	background-color: #34454700;
	width: 100%;

	color: white;
}

.social-list {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	width: 100%;

	margin-top: 2em;
}
.social-list li {
	color: #057090;
}
.social-list li:hover {
	color: white;
}
